{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Movies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="{% static 'css_auth/style.css' %}">

	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!--<link rel="stylesheet" href="{% static 'css/styles.css' %}">-->


	<script src="{% static 'js/script.js' %}"></script>

	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%} ">


</head>

<body>
	<div class="wrapper">

		<header id="nav-header" class="header">

			<!--Page-Top {% static ''%}-->
			<section id="top_info" class="py-0">
				<div class="container">
					<div class="row">
						<div class="col-sm-5 align-self-center">
							<p>eCom-Ethiopia Security CCTV IP Camera OEM Factory</p>
						</div>
						<div class="col-sm-7">
							<p>

								<img src="{% static 'images_auth/pobox1.png'%}" class="img-fluidx" alt="">sales@ecom.com
								<img src="{% static 'images_auth/tel1.png'%}" class="img-fluidx" alt="">+86-755-29578877
								<a href="#"><i class="fa fa-facebook pl-2"></i></a>
								<a href="#"><i class="fa fa-twitter pl-2"></i></a>
								<a href="#" style="color: white; font-weight: bolder;"><i
										class="fa fa-user pl-5 "></i>MY ACCOUNT</a>


							</p>
						</div>
					</div>
				</div>
			</section>

			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

				<a class="navbar-brand" href="{% url 'home' %}"> <img src="{% static 'img/logox.png' %}" alt="Logo"></a>

				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="col-sm-6">
						<h6 class="display-4" style="font-size: 2rem;padding-top: 1.2rem; color: #fff;">MANAGE YOUR ACCOUNT</h6>
				</div>


				<div class="collapse navbar-collapse" id="navbarSupportedContent">

					<ul class="navbar-nav ml-auto">

						<li class="nav-item active">
							<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">Logout</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
						</li>
						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'register' %}">New Account</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'register' %}">Forget Password</a>
						</li>
						{% endif %}

					</ul>

				</div>
			</nav>
		</header>
		<!-- Swiper -->

		<div class="container">


			

			



			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert">
					<button type="button" class="close" data-dismiss="alert">
						<small><sup>x</sup></small>
					</button>
					{{ message }}
				</div>
				{% endfor %}
			{% endif %}

			{% block body %}
				<h1>base page</h1>
			{% endblock body %}

			

		</div>


		<section id="team" class="py-5 text-center">
			<div class="container">
				<h1 class="text-center display-4">FEATURE PRODUCTS</h1>
				<p class="text-center mb-5">If you are interested to buy our products please register and create account </p>

				<div class="row">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-block">
									<h4>MEDICAL</h4>
									<h5 class="text-muted">Biomedical Equipments</h5>
									<img src="{% static 'images_auth/i4.jpg'%}" alt="" class="img-fluid py-2">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam
										vel tempora,
										ut.</p>
									<div class="d-flex flex-row justify-content-center">
										<div class="p-4">
											<a href="" class="btn btn-primary btn-lg">MORE+</a>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-block">
									<h4>ELECTRONICS</h4>
									<h5 class="text-muted">Computers . Smart Phones</h5>
									<img src="{% static 'images_auth/i3.jpg'%}" alt="" class="img-fluid py-2">

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam
										vel tempora,
										ut.</p>
									<div class="d-flex flex-row justify-content-center">
										<div class="p-4">
											<a href="" class="btn btn-primary btn-lg">MORE+</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-block">
									<h4>PARMACEUTICAL</h4>
									<h5 class="text-muted">Laboratory Equipments</h5>
									<img src="{% static 'images_auth/i2.jpg'%}" alt="" class="img-fluid py-2 ">

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam
										vel tempora,
										ut.</p>
									<div class="d-flex flex-row justify-content-center">
										<div class="p-4">
											<a href="" class="btn btn-primary btn-lg">MORE+</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-12">
							<div class="card">
								<div class="card-block">
									<h4>ELECTROMECHANICAL</h4>
									<h5 class="text-muted">Machinaries</h5>
									<img src="{% static 'images_auth/i1.jpg'%}" alt="" class="img-fluid py-2">

									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat dolores earum numquam
										vel tempora,
										ut.</p>
									<div class="d-flex flex-row justify-content-center">
										<div class="p-4">
											<a href="" class="btn btn-primary btn-lg">MORE+</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section id="video-play">
			<div class="dark-overlay">
				<div class="row">
					<div class="col">
						<div class="container p-5">
							<a href="#" class="video" data-video="https://www.youtube.com/embed/HnwsG9a5riA"
								data-toggle="modal" data-target="#videoModal">
								<i class="fa fa-play"></i>
							</a>
							<h1>See What We Do</h1>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--News Letter-->
		<section id="newsletter" class="text-center p-5 bg-inverse text-white">
			<div class="container">
				<div class="row">
					<div class="col">
						<h1>Signup For Our Newsletter</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor itaque iure sequi rerum
							dolorem
							labore delectus, voluptas ipsa error.</p>
						<form class="form-inline justify-content-center">
							<label class="sr-only" for="name">Name</label>
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Name">

							<label class="sr-only" for="email">Email</label>
							<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Email">

							<button class="btn btn-primary" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</section>
		<footer id="main-footer" class="text-center p-4">
			<div class="container">
				<div class="row">
					<div class="col">
						<p>Copyright 2019 © eCom</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Swiper JS -->
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'js/popper.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>

		<script>
			$('.port-item').click(function () {
				$('.collapse').collapse('hide');
			});
		
			$(document).on('click', '[data-toggle="lightbox"]', function (event) {
				event.preventDefault();
				$(this).ekkoLightbox();
			});
		</script>

	</div>
</body>

</html>