{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!--Header-->
    <header id="page-header1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 text-center">
                    <h1>MANAGE YOUR ACCOUNT</h1>
                    <p>REGISTRATION FORM</p>

                    <!--USER ACCOUNT NAV-->
                    <nav id="user_nav" class="navbar navbar-expand-lg navbar-dark bg-dark">

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                            <ul class="navbar-nav ml-auto" >

                                <li class="nav-item ">
                                    <a class="nav-link" href="{% url 'home' %}">
                                        MY Account
                                    </a>
                                </li>
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="{% url 'register' %}">New Account</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'register' %}">Forget Password</a>
                                    </li>
                                {% endif %}

                            </ul>

                        </div>
                    </nav>
                    <!--END USER ACCOUNT NAV-->

                </div>
            </div>
        </div>
    </header>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">  
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <button type="button" class="close" data-dismiss="alert" >
                                <small><sup>x</sup></small>
                            </button>
                            <p>Your Form Has Errors ...</p>
                            {% for field in form %}
                                {% if field.errors %}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}
                            
                        </div>
                        
                    {% endif %}
                    {{form.as_p}}
                    <input type="submit" value="Register" class="btn btn-secondary">

                </form>
            </div>
        </div>
    </div>



{% endblock body %}