{% extends 'product/base.html' %}
{% load static %}
{% block body %}

<!-- HEADER SECTION -->
<header id="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Our Services</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea.</p>
            </div>
        </div>
    </div>
</header>

<section id="blog" class="p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-columns">
                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/1" alt="" class="card-img-top img-fluid">
                        <div class="card-block">
                            <h4 class="card-title">Project Solution Design</h4>
                            <small class="text-muted">..........</small>
                            <hr>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque nihil
                                atque alias
                                totam, nostrum vitae, voluptas libero veritatis illo nemo dignissimos dolore, dolorum in
                                voluptatum
                                perspiciatis molestiae perferendis cupiditate facere!</p>
                        </div>
                    </div>
                    <div class="card p-3">
                        <blockquote class="card-block card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus,
                                aperiam magni
                                animi?</p>
                            <footer>
                                <small class="text-muted">
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/2" alt="" class="card-img-top img-fluid">
                        <div class="card-block">
                            <h4 class="card-title">Shipment</h4>
                            <small class="text-muted">.......</small>
                            <hr>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque nihil
                                atque alias
                                totam, nostrum vitae, voluptas libero veritatis illo nemo dignissimos dolore, dolorum in
                                voluptatum
                                perspiciatis molestiae perferendis cupiditate facere!</p>
                        </div>
                    </div>
                    <div class="card card-danger card-inverse p-3">
                        <blockquote class="card-block card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus,
                                aperiam magni
                                animi?</p>
                            <footer>
                                <small>
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="card">
                        <img src="http://lorempixel.com/500/500/city/3" alt="" class="card-img img-fluid">
                        <h5 class="text-center">OEM/ODM</h5>
                    </div>
                    <div class="card p-3 text-right">
                        <blockquote class="card-block card-blockquote">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor laudantium optio natus,
                                aperiam magni
                                animi?</p>
                            <footer>
                                <small class="text-muted">
                                    Someone Famous in <cite title="Source Title">Source Title</cite>
                                </small>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<main class="content">
    <section class="centered">
        <div class="d-flex flex-row text-white align-items-stretch text-center">
            {% for product in object_list %}
            <div class="port-item p-4 ">
                <a href="">
                    <img class="product_image" src="{{product.image.url}}">
                    <h2 id="product_title" class="product_title display-4">{{product.title}}</h2>
                </a>
            </div>
            {% endfor %}

        </div>
    </section>

</main>
{% endblock body %}