{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Movies</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

	<!-- Link Swiper's CSS -->
	<link rel="stylesheet" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>


	<!-- Demo styles -->
	<style>



	</style>
</head>

<body>
	<div class="wrapper">

		<header class="header">
			<figure class="logo"><a href="/"><img src="{% static 'img/logo.png' %}" alt="Logo"></figure></a>
			<nav class="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a>Genres</a>
						<ul>
							<li><a href="genre.html">Action</a></li>
							<li><a href="genre.html">Comedy</a></li>
							<li><a href="genre.html">Drama</a></li>
							<li><a href="genre.html">Romance</a></li>
						</ul>
					</li>
					<li><a>Year</a>
						<ul>
							<li><a href="year.html">2017</a></li>
							<li><a href="year.html">2016</a></li>
							<li><a href="year.html">2015</a></li>
							<li><a href="year.html">2014</a></li>
						</ul>
					</li>
					<li><a>Language</a>
						<ul>
							<li><a href="language.html">English</a></li>
							<li><a href="language.html">German</a></li>
						</ul>
					</li>
					<li><a href="mostwatched.html">Most Watched</a></li>
					<li class="mobsearch">
						<form class="mobform">
							<input type="text" name="s" class="mobsearchfield" placeholder="Search...">
							<input type="submit" value="" class="mobsearchsubmit">
						</form>
					</li>
				</ul>
			</nav>
			<form class="search">
				<input type="text" name="s" class="searchfield" placeholder="Search...">
				<input type="submit" value="" class="searchsubmit">
			</form>

			<div class="toggle"><img src="{% static 'img/menu.svg' %}"></div>
		</header>
		<!-- Swiper -->
		<div class="homeslider">
			<div class="swiper-container">

				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="{% static 'images/slider/poster2.jpg' %}">
						<div class="caption">
							<div class="captioninside">
								<h3>Movie Title</h3>
								<p>Lorem ipsum dolor siamet</p>
								<a href="single.html" class="playbutton">Play</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<img src="{% static 'images/slider/poster1.jpg' %}">
						<div class="caption">
							<div class="captioninside">
								<h3>Movie Title 2</h3>
								<p>Lorem ipsum dolor siamet</p>
								<a href="single.html" class="playbutton">Play</a>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<img src="{% static 'images/slider/poster2.jpg' %}">
						<div class="caption">
							<div class="captioninside">
								<h3>Movie Title 3</h3>
								<p>Lorem ipsum dolor siamet</p>
								<a href="single.html" class="playbutton">Play</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Add Pagination -->
				<div class="swiper-pagination"></div>
			</div>
		</div>

		{% block body %}


		{% endblock body %}

		<footer class="full_footer floating_footer" id="footer">
			<div class="nav-links">
				<div class="nav-block-locale"><a href="/"><img alt="iStock logo" class="footer-logo"
							src="/asset-detail/assets/packs/media/istock/istock_global-f5ce8b08.svg#istock-logo"
							viewbox="0 0 100 100"></a>
					<div class="footer-locale">
						<div class="locale-picker"
							data-base-path="/vector/abstract-wire-mesh-wave-background-gm465509838-59812342?irgwc=1&amp;esource=AFF_IS_IR_lina%20ding_46057&amp;asid=lina%20ding&amp;cid=IS&amp;utm_medium=affiliate&amp;utm_source=lina%20ding&amp;utm_content=46057&amp;clickid=Qm40xPRPt3FDRuyy9fXbxWIVUkn1ysyjwTccSM0"
							data-country="us" data-encoded-localized-paths="" data-language="en">
							<div class="reveal-modal-bg-locale close-modal hidden" id="language-modal-bg"></div>
							<section>
								<div class="reveal-modal-locale" id="language-modal-desktop"></div>
							</section>
						</div>
						<div class="locale-button open-language" data-country-code="us" id="footer-language-selector">
							<span>English</span><span class="language-arrow"></span></div>
						<div class="locale-button open-country" id="footer-country-selector"><img class="flag-icon"
								src="/asset-detail/assets/packs/media/istock/country-flags-f29d1fa8.svg#us"
								viewbox="20 0 60 60"><span class="country-name">United States</span></div>
					</div>
				</div>
				<div class="nav-block">
					<ul>
						<li class="footer-category-title">Learn more</li>
						<li><a data-nav="nav=footer_plans_and_pricing" href="/plans-and-pricing">Plans and pricing</a>
						</li>
						<li><a data-nav="nav=nav_promo_code" href="/promo-code">iStock promo codes</a></li>
						<li><a data-nav="nav=nav_tips_and_tricks" href="https://marketing.gettyimages.com/"
								id="footer-tips-and-tricks" target="_blank">Tips and tricks</a></li>
						<li><a data-nav="nav=nav_Stock_Photos" href="/stock-photos">Stock photos</a></li>
						<li><a data-nav="nav=nav_Partners" href="http://content.istockphoto.com/partners/"
								id="footer-partners" target="_blank">Partners</a></li>
						<li><a data-nav="nav=nav_Plugins_and_apps" href="/resources/plugins">Plugins and apps</a></li>
						<li><a data-nav="nav=nav_Licenses" href="/help/licenses" rel="nofollow">License information</a>
						</li>
						<li><a data-nav="nav=nav_Legal_Agreement" href="/legal/license-agreement" rel="nofollow">Legal /
								Privacy</a></li>
					</ul>
				</div>
				<div class="nav-block">
					<ul>
						<li class="footer-category-title">Company</li>
						<li><a data-nav="nav_About_us" href="/about-us" id="footer-aboutus">About us</a></li>
						<li><a data-nav="foot_Press" href="http://press.gettyimages.com/" id="footer-press"
								target="_blank">Press</a></li>
						<li><a data-nav="nav_Careers" href="http://www.gettyimagesjobs.com?isource=foot_AboutUs_Careers"
								id="footer-careers" target="_blank">Careers</a></li>
						<li><a data-nav="nav_Affiliates" href="http://www.gettyimagesaffiliates.com/"
								id="footer-affiliates" target="_blank">Affiliates</a></li>
						<li><a data-nav="nav_sellStock" href="https://workwithus.gettyimages.com">Sell stock</a></li>
					</ul>
				</div>
				<div class="nav-block">
					<ul>
						<li class="footer-category-title">Support</li>
						<li><a class="tel" href="tel:+18664786251" id="footer-support-number">1 866 478 6251 </a></li>
						<li id="lpChatFooterUni"></li>
						<li><a data-nav="nav=nav_Contact_us" href="/customer-support">Contact us</a></li>
						<li><a data-nav="nav=nav_FAQ" href="/faq">FAQ</a></li>
						<li><a data-nav="nav=nav_SiteMap" href="/sitemap">Site map</a></li>
					</ul>
				</div>
				<div class="nav-block">
					<div class="social-links">
						<ul>
							<li><a class="fb" data-nav="nav_Facebook" href="http://www.facebook.com/istock"
									id="footer-facebook-icon" target="_blank"></a></li>
							<li><a class="tw" data-nav="nav_Twitter" href="http://www.twitter.com/iStock"
									id="footer-twitter-icon" target="_blank"></a></li>
							<li><a class="ig" data-nav="nav_Instagram" href="https://instagram.com/istockbygettyimages"
									id="footer-instagram-icon" target="_blank"></a></li>
						</ul>
					</div>
					<ul>
						<li class="footer-app-store"><a class="app-store-badge" data-nav="nav_Tools_Apps"
								href="https://itunes.apple.com/us/app/istockphoto/id377716883?mt=8&amp;amp;ign-mpt=uo%3D4"
								target="_blank"><img class="footer-app-store-badge"
									src="/asset-detail/assets/packs/media/app_store_badges/app_store_badge_en-d0558d91.svg"></a><a
								class="google-play-badge" data-nav="nav_Tools_Apps"
								href="https://play.google.com/store/apps/details?id=com.gettyimages.istock"
								target="_blank"><img class="footer-app-store-badge"
									src="/asset-detail/assets/packs/media/play_store_badges/play_store_badge_en-004a8ebf.svg"></a>
						</li>
					</ul>
				</div>
				<div class="footer-copyright">
					<hr>© 2019 iStockphoto LP. <span>The iStock design is a trademark of iStockphoto LP.</span></div>
			</div>
		</footer>

		<!-- Swiper JS -->
		<script src="{% static 'js/swiper.min.js' %}"></script>

		<!-- Initialize Swiper -->
		<script>
			$(document).ready(function () {


				var swiper = new Swiper('.homeslider > .swiper-container', {
					pagination: '.swiper-pagination',
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					effect: 'fade',
					breakpoints: {
						320: {
							height: 200
						},

						480: {
							height: 300
						},

						768: {
							height: 400
						},
						1024: {
							height: 500
						}
					}
				});

				var recentswiper = new Swiper('.recentslider > .swiper-container', {
					nextButton: '.recent-next',
					prevButton: '.recent-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

				var mostswiper = new Swiper('.mostslider > .swiper-container', {
					nextButton: '.most-next',
					prevButton: '.most-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

				var topswiper = new Swiper('.topslider > .swiper-container', {
					nextButton: '.top-next',
					prevButton: '.top-prev',
					slidesPerView: 8,
					paginationClickable: true,
					preventClicks: false,
					preventClicksPropagation: false,
					spaceBetween: 10,
					breakpoints: {
						320: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						480: {
							slidesPerView: 3,
							spaceBetween: 5
						},

						768: {
							slidesPerView: 5,
							spaceBetween: 5
						},
						1024: {
							slidesPerView: 6,
							spaceBetween: 10
						}
					}
				});

			});
		</script>


	</div>
</body>

</html>