{% extends 'base.html' %}
{% load static %}
{% block body %}

<header id="page-header1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1>Our Services</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, ea.</p>
            </div>
        </div>
    </div>
</header>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1>Welcome</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam minus tempora facilis commodi eum.
                    Culpa harum incidunt corporis explicabo consequatur. Dolorem rem eius ipsam quo voluptate maxime,
                    eaque. Necessitatibus, ut.</p>
            </div>
            <div class="col-md-6">
                <img src="" alt=""
                    class="hidden-sm-down about-img img-fluid rounded-circle">
            </div>
        </div>
    </div>
</section>

<section id="icon-boxes" class="p-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4">
                <div class="card about-cards  text-center text-white">
                    <div class="card-block">
                        <h3>Project Solution Design</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-cards text-center text-white">
                    <div class="card-block">
                        <i class="fa fa-bullhorn"></i>
                        <h3>OEM/ODM</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-cards  text-center text-white">
                    <div class="card-block">
                        <h3>Enterprise Services</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours.</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card text-center about-cards text-white">
                    <div class="card-block">
                        <i class="fa fa-clock-o"></i>
                        <h3>Shipment</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours.</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-cards text-center text-white">
                    <div class="card-block">
                        <i class="fa fa-cc"></i>
                        <h3>Warranty</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours.</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card about-cards text-center text-white">
                    <div class="card-block">
                        <i class="fa fa-coffee"></i>
                        <h3>Terms&Condition</h3>
                        <p>We offer 24/7 online service Once order placed, daily update service will be offered per each
                            24 hours.</p>
                        <small class="text-muted">Dolorem rem eius ipsam quo <cite title="Source Title">Somethin
                                Useful</cite></small>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--------------------------------------->







{% endblock body %}